/* .client-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
} */
/*seccion 1 - search - logo - user - basket*/
.nav-1{
    background-color: rgb(49, 47, 56);
    font-size: 40px;
}
.nav-1 a{
    font-size: 20px;
    color: white;
}
.SupellexLogo{
    filter: invert(100%);
}

.nav-1 li{
    display: inline-block;
    list-style-type: none;
}
/*seccion 2 categories*/
.nav-2{
    background-color: white;
}
.btn-categorie{
    border-radius: 55px;
    background-color: gray;
    width: 72%;
    margin-left: 5%;
    color: white;
}
.btn-categorie:hover{
    background-color: rgb(86, 87, 90);
    color: whitesmoke;
}
.bnt-user:hover{
    color: whitesmoke;
}